#
# This file is a place where the behaviour of environment variable is defined.
#
# It can be used to:
# - set up a PaaS application wich provide a service to set environment variable
# - run the code locally, without PaaS
#
# To run the code locally, you had to create a minimal configuration file
# It will be read by Dotenv and exposed throught NodeJS process.env global variable
#
# Instructions:
#   1. copy this file as `.env`
#   2. edit the `.env` file with working values
#   3. uncomment the lines to activate or configure associated features
#
# Line size max: 80 characters.
#

# NODE_ENV: type d'environnement d'exécution (réplication incrémentale uniquement)
# * valeur = test ou production
# presence: required
# type: String
# default: development
NODE_ENV=development

#SCALINGO_APP
SCALINGO_APP=pix-datawarehouse-production

#SCALINGO_TOKEN
SCALINGO_TOKEN=

#SCHEDULE
SCHEDULE=0 */3 * * *
